<% if @measure.errors.any? %>
  // Render new measure form with errors
  const container = document.querySelector('#measure-form-container');
  container.innerHTML = '<%= j render "recipes/measure_form", recipe: @recipe, measure: @measure %>'
<% else %>
  const list = document.getElementById("measure-list");
  list.insertAdjacentHTML("beforeend", "<li><%= @measure.description %> <%= @measure.ingredient.name %> </li>");
<% end %>
